# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

*.idea
venv

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa
*.wav
*.mp3
*.mdi
output1

.idea
spy_history.db
venv
